body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1550039120-5d6529f0c4de?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YnJpY2slMjB3YWxsfGVufDB8fDB8fHww') no-repeat center center fixed;
    background-size: cover;
    color: white;
}


/* Reset default styles */

h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* grid layout */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "nav main main" "footer footer footer";
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Style header */

header {
    grid-area: header;
    text-align: center;
    background: linear-gradient(to bottom, #464b4f, #b92929);
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}


/* Style navigasi */

nav {
    grid-area: nav;
    background: linear-gradient(to bottom, rgba(236, 240, 241, 0.8), rgba(185, 41, 41, 0.8));
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.spanstyle1 {
    color: #e74c3c;
}

.spanstyle2 {
    color: #000000;
}

ul {
    list-style: none;
}

li {
    margin-top: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #555;
}


/* Style konten utama */

main {
    grid-area: main;
}

section {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Style footer */

footer {
    grid-area: footer;
    text-align: center;
    padding: 10px;
    color: #000000;
    background: linear-gradient(to bottom, #ecf0f1, #bdc3c7);
    border-radius: 0 0 8px 8px;
}

footer {
    transition: background 0.5s ease;
}

footer:hover {
    background: linear-gradient(to bottom, #bdc3c7, #ecf0f1);
}


/* responsive styles */

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "nav" "main" "footer";
    }
}


/* Smooth Scrolling */

html {
    scroll-behavior: smooth;
}


/* Bayangan Text */

h1,
h2,
p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


/* Border Gradien */

section {
    border: 1px solid;
    border-image: linear-gradient(to right, #ffffff, #b92929);
    border-image-slice: 1;
}

p:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}